html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Flood Weather App
        script(src="https://cdn.tailwindcss.com")
        link(rel="stylesheet", href="normalize.css")
        link(rel='stylesheet', href='/static/styles/style.css')
    body
        section.main-section
            h1= `${error.message} Status: ${error.status}`
            br
            a.button-style(href='/') Return Home