doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Flood Weather App
        script(src="https://cdn.tailwindcss.com")
        link(rel="stylesheet", href="/static/styles/normalize.css")
        link(rel='stylesheet', href='/static/styles/style.css')
    body
        section.main-section
            h1.my-6.text-2xl FLOOD WEATHER APP
            div 
                h2 Choose a City 
                form(action="/", method ="POST")
                    div
                        label(for="citySelection") City:
                        input(type="text" name="citySelection" id="citySelction").bg-gray-0.p-4.rounded-md  
                    br
                    button(type="submit").border-solid.border-2.border-sky-500.w-20 Enter
            h2.text-3xl.font-bold.underline

            //- //.bg-gradient-to-r.border-t-2.border-green-400.bg-gradient-to-br.from-green-500.via-blue-600.to-purple-600